<?xml version="1.0"?>
<robot name="my_simple_model">

  <link name="link1">
    <visual>
      <geometry>
        <mesh filename="package://my_urdf_test_pkg/meshes/test_re.stl" />
      </geometry>
        <origin xyz="0 0 0" rpy="0 0 0"/>
      <material name="red">
        <color rgba="1.0 0.0 0.0 2.0"/>
      </material>
    </visual>
  </link>

</robot>

